body {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {

font-size: 30px;
letter-spacing: 3px;

}

#container {
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width:1000px;
    padding: 10px;
    
}

.box {
    margin: auto;
    height: 100%;
    width: 18%;
    background-color:firebrick;
    color: white;
    font-size:10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {

    margin: auto;
    cursor: pointer;
    height: fit-content;
    width:fit-content;
    background-color: green;
    color:white;
    padding: 10px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;

}

#arraypopup {

height:fit-content;
width:fit-content;
display: flex;
justify-content: center;
align-items: center;
padding:25px;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
font-size:30px;
background-color: white;
color: firebrick;


}

#wordsarehere {

    margin: auto;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    color: firebrick;
}